<%- include('header'); -%>
 <div class="content">
 <h1 id="">Name</h1> <h3>ABC</h3>
 <h1 id="">Address</h1> <h3>XYZ Street</h3>
 <h1 id="">Phone Number</h1> <h3>90219939XX</h3>
 </div>
<%- include('footer'); -%>