<%- include('header'); -%>
<div class="content">
    UserName <input type="text" name="Username" id="">
    Password <input type="password" name="Password" id=""">
    Login <input type="button" value="Log In">    
</div>
<%- include('footer'); -%>