<%- include('header'); -%>
<div class="content">
    <form>
    User Name <input type="text" name="User Name" id=""><br><br>
    Password <input type="password" name="Password" id=""><br><br>
    Address <input type="text" name="Address" id=""><br><br>
    ZipCode <input type="number" name="ZipCode" id=""><br><br>
    City <input type="text" name="City" id=""><br><br>
    Phone Number <input type="number" name="Phone Number" id=""><br><br>
    Fax <input type="number" name="Fax" id=""><br><br>
    Payment <input type="text" name="Payment" id=""><br><br>
    <input type="button" value="Register"><br><br>
    </form>
</div>
<%- include('footer'); -%>